@model QuizzApp.Models.Answer

@{
    ViewData["Title"] = "Dodaj odpowiedź";
}

<h1>Dodaj odpowiedź</h1>

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="QuestionId" />

    <div class="form-group">
        <label asp-for="Text" class="control-label">Treść odpowiedzi</label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Zapisz</button>
        <a asp-controller="Questions" asp-action="Details" asp-route-id="@Model.QuestionId" class="btn btn-secondary ms-2">Wróć do pytania</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
