@model QuizzApp.Models.Answer

@{
    ViewData["Title"] = "Usuń odpowiedź";
}

<h1>Usuń odpowiedź</h1>

<h3>Czy na pewno chcesz usunąć tę odpowiedź?</h3>
<div>
    <h4>Odpowiedź</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Treść odpowiedzi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            Czy poprawna?
        </dt>
        <dd class="col-sm-10">
            @(Model.IsCorrect ? "Tak" : "Nie")
        </dd>
        <dt class="col-sm-2">
            ID pytania
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger me-2">Usuń</button>
        <a asp-action="Index" asp-route-questionId="@Model.QuestionId" class="btn btn-secondary">Powrót do listy</a>

    </form>
</div>
