@model QuizzApp.Models.Answer

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Odpowiedź</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            @if (Model.Question != null)
            {
                <div class="form-group">
                    <label class="control-label">Pytanie</label>
                    <input class="form-control" value="@Model.Question.Text" readonly />
                </div>
            }
            <div class="d-flex gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Zapisz</button>
                <a asp-action="Index" asp-route-questionId="@Model.QuestionId" class="btn btn-secondary">Powrót do listy</a>

            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
