@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center mt-5">
        <h1 class="display-4">Witaj @User.Identity?.Name w QuizzApp!</h1>
        <p class="lead">Rozwiązuj quizy i twórz własne!</p>
        <p>
            <a class="btn btn-primary" asp-controller="Quizs" asp-action="Create">Nowy Quiz</a>
        </p>
    </div>
}
else
{
	<div class="text-center mt-5">
		<h1 class="display-4">Witaj w QuizzApp!</h1>
		<p class="lead">Rozwiązuj quizy i twórz własne!</p>
		<p>
			<a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Register">Zarejestruj się</a>
			<a class="btn btn-secondary btn-lg" asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a>
		</p>
	</div>
}
