@model QuizzApp.Models.Question

@{
    ViewData["Title"] = "Dodaj pytanie";
}

<h1>Dodaj pytanie</h1>

<h4>Pytanie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Treść pytania</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="QuizId" />
            <div class="form-group">
                <label asp-for="Score" class="control-label">Punkty</label>
                <input asp-for="Score" class="form-control" value="1" min="1" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Dodaj" class="btn btn-primary me-2" />
                <a asp-action="ListForQuiz" asp-route-quizId="@Model.QuizId" class="btn btn-secondary">Wróć do listy</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
